body {
  margin: 0;
  padding: 0;
}

main {
  width: 70vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: white;
  background-color: grey;
}

.submitDiv {
  text-align: center;
}

#textInput {
  height: 60px;
  width: 100%;
  margin: auto;
  text-align: vertical;
}

button {
  height: 50px;
  margin-top: 3px;
}

.resultHeading {
  border-bottom: 2px black solid;
}

.textDiv {
  margin-bottom: 10px;
}

input::placeholder {
  /* Chrome/Opera/Safari */
  white-space: pre-line;
}

.form-group {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

.pokeIcon {
  width: 200px;
  height: auto;
  margin: 5px;
}
